a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

body {
    background-color: #ebecf1;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

code {
    color: black;
}

h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    color: black;
}

h2 {
    color: #075aab;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

h3 {
    color: #075aab;
    margin-top: 2rem;
}

h4 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

h5 {
    margin-top: 0.5rem;
}

hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-style: none;
    border-top-style: dotted;
    border-width: 3px;
    border-color: grey;
    width: 15%;
}

p {
    color: rgba(49, 47, 47, 0.673);
}

img {
    border-radius: 50%;
    padding-top: 20px;
}

li {
    list-style-type: none;
}


/* -------------ID selectors------------------ */

#mypic {
    border-radius: 15px;
    width: 295px;
    height: 384px;
    padding-top: 0px;
}

#education {
    color: black;
    font-size: larger;
    font-weight: bolder;
}

#top-heading {
    font-weight: bold;
    font-style: italic;
}


/* ----------------Class Selectors--------------- */